In [1]:
# prompt: import required libraries for data analysis

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('train.csv')
df.head()

,id,Name,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,0,Aaradhya,Female,49.0,Ludhiana,Working Professional,Chef,NaN,5.0,NaN,NaN,2.0,More than 8 hours,Healthy,BHM,No,1.0,2.0,No,0
1,1,Vivan,Male,26.0,Varanasi,Working Professional,Teacher,NaN,4.0,NaN,NaN,3.0,Less than 5 hours,Unhealthy,LLB,Yes,7.0,3.0,No,1
2,2,Yuvraj,Male,33.0,Visakhapatnam,Student,NaN,5.0,NaN,8.97,2.0,NaN,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
3,3,Yuvraj,Male,22.0,Mumbai,Working Professional,Teacher,NaN,5.0,NaN,NaN,1.0,Less than 5 hours,Moderate,BBA,Yes,10.0,1.0,Yes,1
4,4,Rhea,Female,30.0,Kanpur,Working Professional,Business Analyst,NaN,1.0,NaN,NaN,1.0,5-6 hours,Unhealthy,BBA,Yes,9.0,4.0,Yes,0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140700 entries, 0 to 140699
Data columns (total 20 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   id                                     140700 non-null  int64
 1   Name                                   140700 non-null  object
 2   Gender                                 140700 non-null  object
 3   Age                                    140700 non-null  float64
 4   City                                   140700 non-null  object
 5   Working Professional or Student        140700 non-null  object
 6   Profession                             104070 non-null  object
 7   Academic Pressure                      27897 non-null   float64
 8   Work Pressure                          112782 non-null  float64
 9   CGPA                                   27898 non-null   float64
 10  Study Satisfaction                     27897 non-null   float64
 11  Job Satisfaction                       112790 non-null  float64
 12  Sleep Duration                         140700 non-null  object
 13  Dietary Habits                         140696 non-null  object
 14  Degree                                 140698 non-null  object
 15  Have you ever had suicidal thoughts ?  140700 non-null  object
 16  Work/Study Hours                       140700 non-null  float64
 17  Financial Stress                       140696 non-null  float64
 18  Family History of Mental Illness       140700 non-null  object
 19  Depression                             140700 non-null  int64
dtypes: float64(8), int64(2), object(10)
memory usage: 21.5+ MB

In [4]:

# Create a mapping dictionary
mapping = {'Yes': 1, 'No': 0}

# Apply the mapping to the specified columns
for col in ['Family History of Mental Illness', 'Have you ever had suicidal thoughts ?']:
    df[col] = df[col].map(mapping)

df.head()

,id,Name,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,0,Aaradhya,Female,49.0,Ludhiana,Working Professional,Chef,NaN,5.0,NaN,NaN,2.0,More than 8 hours,Healthy,BHM,0,1.0,2.0,0,0
1,1,Vivan,Male,26.0,Varanasi,Working Professional,Teacher,NaN,4.0,NaN,NaN,3.0,Less than 5 hours,Unhealthy,LLB,1,7.0,3.0,0,1
2,2,Yuvraj,Male,33.0,Visakhapatnam,Student,NaN,5.0,NaN,8.97,2.0,NaN,5-6 hours,Healthy,B.Pharm,1,3.0,1.0,0,1
3,3,Yuvraj,Male,22.0,Mumbai,Working Professional,Teacher,NaN,5.0,NaN,NaN,1.0,Less than 5 hours,Moderate,BBA,1,10.0,1.0,1,1
4,4,Rhea,Female,30.0,Kanpur,Working Professional,Business Analyst,NaN,1.0,NaN,NaN,1.0,5-6 hours,Unhealthy,BBA,1,9.0,4.0,1,0

In [5]:
df["Sleep Duration"].value_counts()

Sleep Duration
Less than 5 hours    38784
7-8 hours            36969
More than 8 hours    32726
5-6 hours            32142
3-4 hours               12
6-7 hours                8
4-5 hours                7
2-3 hours                5
4-6 hours                5
6-8 hours                4
1-6 hours                4
No                       4
9-11 hours               2
10-11 hours              2
Sleep_Duration           2
Unhealthy                2
45                       2
8-9 hours                2
10-6 hours               1
9-5                      1
45-48 hours              1
3-6 hours                1
Work_Study_Hours         1
49 hours                 1
than 5 hours             1
Pune                     1
9-6 hours                1
8 hours                  1
35-36 hours              1
Indore                   1
1-3 hours                1
55-66 hours              1
Moderate                 1
40-45 hours              1
1-2 hours                1
9-5 hours                1
Name: count, dtype: int64

In [6]:
# Define a mapping to group similar durations
duration_mapping = {
    "Less than 5 hours": "Less than 5 hours",
    "5-6 hours": "5-6 hours",
    "6-7 hours": "6-7 hours",
    "7-8 hours": "7-8 hours",
    "8-9 hours": "8-9 hours",
    "9-11 hours": "9-11 hours",
    "More than 8 hours": "More than 8 hours",
    # Group other ranges into approximate categories
    "4-5 hours": "4-6 hours",
    "4-6 hours": "4-6 hours",
    "6-8 hours": "6-8 hours",
    "3-4 hours": "Less than 5 hours",
    "3-6 hours": "4-6 hours",
    "1-6 hours": "Less than 5 hours",
    "2-3 hours": "Less than 5 hours",
    # Handle invalid data
    "No": "Invalid",
    "Sleep_Duration": "Invalid",
    "Unhealthy": "Invalid",
    "Moderate": "Invalid",
    "Pune": "Invalid",
    "Indore": "Invalid",
    "Work_Study_Hours": "Invalid",
    "9-5": "Invalid",
    "10-6 hours": "Invalid",
    "than 5 hours": "Invalid",
    "49 hours": "Invalid",
    "45": "Invalid",
    "45-48 hours": "Invalid",
    "35-36 hours": "Invalid",
    "55-66 hours": "Invalid",
}

# Map the sleep durations
df['Sleep Duration clean'] = df['Sleep Duration'].map(duration_mapping)

In [7]:
df["Sleep Duration clean"].value_counts()

Sleep Duration clean
Less than 5 hours    38805
7-8 hours            36969
More than 8 hours    32726
5-6 hours            32142
Invalid                 21
4-6 hours               13
6-7 hours                8
6-8 hours                4
8-9 hours                2
9-11 hours               2
Name: count, dtype: int64

In [8]:
df["Sleep Duration clean"].unique()

array(['More than 8 hours', 'Less than 5 hours', '5-6 hours', '7-8 hours',
       'Invalid', nan, '6-8 hours', '4-6 hours', '6-7 hours', '8-9 hours',
       '9-11 hours'], dtype=object)

In [9]:
# Clean and map sleep duration
duration_mapping = {
    "Less than 5 hours": 4.0,
    "5-6 hours": 5.5,
    "6-7 hours": 6.5,
    "7-8 hours": 7.5,
    "8-9 hours": 8.5,
    "9-11 hours": 10.0,
    "More than 8 hours": 9.0,
    "4-5 hours": 5.0,
    "4-6 hours": 5.0,
    "6-8 hours": 7.0,
    "3-4 hours": 4.0,
    "3-6 hours": 4.0,
    "1-6 hours": 4.0,
    "2-3 hours": 4.0,
    "Invalid": 0.0
}

df["sleep"] = df["Sleep Duration clean"].map(duration_mapping)
df["sleep"].head()

0    9.0
1    4.0
2    5.5
3    4.0
4    5.5
Name: sleep, dtype: float64

In [10]:
df["sleep"].value_counts()

sleep
4.0     38805
7.5     36969
9.0     32726
5.5     32142
0.0        21
5.0        13
6.5         8
7.0         4
8.5         2
10.0        2
Name: count, dtype: int64

In [11]:
df["Depression"] = df["Depression"].astype(int)
df["Depression"].head()

0    0
1    1
2    1
3    1
4    0
Name: Depression, dtype: int64

In [12]:
df["Age"] = df["Age"].astype(int)
df["Age"].head()

0    49
1    26
2    33
3    22
4    30
Name: Age, dtype: int64

In [13]:
df["Dietary Habits"].value_counts()

Dietary Habits
Moderate             49705
Unhealthy            46227
Healthy              44741
Yes                      2
No                       2
More Healthy             2
No Healthy               1
Class 12                 1
Indoor                   1
Male                     1
Vegas                    1
M.Tech                   1
Less Healthy             1
1.0                      1
Electrician              1
Hormonal                 1
Mihir                    1
Less than Healthy        1
3                        1
Gender                   1
BSc                      1
Pratham                  1
2                        1
Name: count, dtype: int64

In [14]:
valid_categories = ["Moderate", "Unhealthy", "Healthy"]

# Step 2: Clean the data
# Map synonymous or invalid values to valid categories
synonym_mapping = {
    "More Healthy": "Healthy",
    "Less Healthy": "Unhealthy",
    "Less than Healthy": "Unhealthy",
    "No Healthy": "Unhealthy"
}

# Replace synonyms with valid categories
df["Dietary Habits"] = df["Dietary Habits"].replace(synonym_mapping)

df = df[df["Dietary Habits"].isin(valid_categories)]

In [15]:
df["Dietary Habits"].value_counts()

Dietary Habits
Moderate     49705
Unhealthy    46230
Healthy      44743
Name: count, dtype: int64

In [16]:
df["Work/Study Hours"].unique()

array([ 1.,  7.,  3., 10.,  9.,  6.,  8.,  2.,  0.,  5., 12.,  4., 11.])

In [17]:
df["Work/Study Hours"] = df["Work/Study Hours"].astype(int)
df["Work/Study Hours"].head()

0     1
1     7
2     3
3    10
4     9
Name: Work/Study Hours, dtype: int64

In [18]:
df["Financial Stress"].value_counts()
df["Financial Stress"].unique()

array([ 2.,  3.,  1.,  4.,  5., nan])

In [19]:
df["Financial Stress"] = df["Financial Stress"].fillna(0).astype(int)
df["Financial Stress"].head()

0    2
1    3
2    1
3    1
4    4
Name: Financial Stress, dtype: int64

In [20]:
df["Study Satisfaction"].fillna(0, inplace=True)
df["Study Satisfaction"] = df["Study Satisfaction"].astype(int)

/var/folders/q3/bl9sh3nd1997t0vby3jw4xl80000gn/T/ipykernel_7540/2482765706.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Study Satisfaction"].fillna(0, inplace=True)

In [21]:
df["Job Satisfaction"].fillna(0, inplace=True)
df["Job Satisfaction"] = df["Job Satisfaction"].astype(int)

/var/folders/q3/bl9sh3nd1997t0vby3jw4xl80000gn/T/ipykernel_7540/3360331544.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Job Satisfaction"].fillna(0, inplace=True)

In [22]:
df["Study Satisfaction"].value_counts()

Study Satisfaction
0    112790
4      6358
2      5838
3      5821
1      5450
5      4421
Name: count, dtype: int64

In [23]:
df["Job Satisfaction"].value_counts()

Job Satisfaction
0    27901
2    24775
5    22811
1    22323
3    21949
4    20919
Name: count, dtype: int64

In [24]:
df["Satisfaction"] = df["Job Satisfaction"] + df["Study Satisfaction"]
df["Satisfaction"].value_counts()

Satisfaction
2    30612
1    27773
3    27768
4    27277
5    27231
0       15
6        1
7        1
Name: count, dtype: int64

In [25]:
df["Academic Pressure"].fillna(0, inplace=True)
df["Academic Pressure"] = df["Academic Pressure"].astype(int)

/var/folders/q3/bl9sh3nd1997t0vby3jw4xl80000gn/T/ipykernel_7540/1572026379.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Academic Pressure"].fillna(0, inplace=True)

In [26]:
df["Work Pressure"].fillna(0, inplace=True)
df["Work Pressure"] = df["Work Pressure"].astype(int)

/var/folders/q3/bl9sh3nd1997t0vby3jw4xl80000gn/T/ipykernel_7540/2216649700.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Work Pressure"].fillna(0, inplace=True)

In [27]:
df["Pressure"] = df["Academic Pressure"] + df["Work Pressure"]
df["Pressure"].value_counts()

Pressure
3    29353
5    28727
2    28548
4    27667
1    26362
0       21
Name: count, dtype: int64

In [28]:
df["CGPA"].fillna(0, inplace=True)

/var/folders/q3/bl9sh3nd1997t0vby3jw4xl80000gn/T/ipykernel_7540/3356946874.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["CGPA"].fillna(0, inplace=True)

In [29]:
map = {
   "Male" : 1,
   "Female" : 0
}

df["Gender"] = df["Gender"].map(map)

In [30]:
df["Gender"].head()

0    0
1    1
2    1
3    1
4    0
Name: Gender, dtype: int64

In [31]:
df["Profession"].unique()

array(['Chef', 'Teacher', nan, 'Business Analyst', 'Finanancial Analyst',
       'Chemist', 'Electrician', 'Software Engineer', 'Data Scientist',
       'Plumber', 'Marketing Manager', 'Accountant', 'Entrepreneur',
       'HR Manager', 'UX/UI Designer', 'Content Writer',
       'Educational Consultant', 'Civil Engineer', 'Manager',
       'Pharmacist', 'Financial Analyst', 'Architect',
       'Mechanical Engineer', 'Customer Support', 'Consultant', 'Judge',
       'Researcher', 'Pilot', 'Graphic Designer', 'Travel Consultant',
       'Digital Marketer', 'Lawyer', 'Research Analyst',
       'Sales Executive', 'Doctor', 'Unemployed', 'Investment Banker',
       'Family Consultant', 'B.Com', 'BE', 'Student', 'Yogesh', 'Dev',
       'MBA', 'LLM', 'BCA', 'Academic', 'Profession', 'FamilyVirar',
       'City Manager', 'BBA', 'Medical Doctor', 'Working Professional',
       'MBBS', 'Patna', 'Unveil', 'B.Ed', 'Nagpur', 'Moderate', 'M.Ed',
       'Analyst', 'Pranav', 'Visakhapatnam', 'PhD', 'Yuvraj'],
      dtype=object)

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 140678 entries, 0 to 140699
Data columns (total 24 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   id                                     140678 non-null  int64
 1   Name                                   140678 non-null  object
 2   Gender                                 140678 non-null  int64
 3   Age                                    140678 non-null  int64
 4   City                                   140678 non-null  object
 5   Working Professional or Student        140678 non-null  object
 6   Profession                             104057 non-null  object
 7   Academic Pressure                      140678 non-null  int64
 8   Work Pressure                          140678 non-null  int64
 9   CGPA                                   140678 non-null  float64
 10  Study Satisfaction                     140678 non-null  int64
 11  Job Satisfaction                       140678 non-null  int64
 12  Sleep Duration                         140678 non-null  object
 13  Dietary Habits                         140678 non-null  object
 14  Degree                                 140676 non-null  object
 15  Have you ever had suicidal thoughts ?  140678 non-null  int64
 16  Work/Study Hours                       140678 non-null  int64
 17  Financial Stress                       140678 non-null  int64
 18  Family History of Mental Illness       140678 non-null  int64
 19  Depression                             140678 non-null  int64
 20  Sleep Duration clean                   140670 non-null  object
 21  sleep                                  140670 non-null  float64
 22  Satisfaction                           140678 non-null  int64
 23  Pressure                               140678 non-null  int64
dtypes: float64(2), int64(14), object(8)
memory usage: 26.8+ MB

**Creat sepaerate dataset for working and students**

In [33]:
X = df[['Gender', 'Age', 'sleep', 'Work/Study Hours', 'Pressure', 'Financial Stress', 'Satisfaction', 'Family History of Mental Illness', 'Have you ever had suicidal thoughts ?']].fillna(0)
y = df['Depression'].astype(int)

In [34]:
X.head()

,Gender,Age,sleep,Work/Study Hours,Pressure,Financial Stress,Satisfaction,Family History of Mental Illness,Have you ever had suicidal thoughts ?
0,0,49,9.0,1,5,2,2,0,0
1,1,26,4.0,7,4,3,3,0,1
2,1,33,5.5,3,5,1,2,0,1
3,1,22,4.0,10,5,1,1,1,1
4,0,30,5.5,9,1,4,1,1,1

In [35]:
# Create a DataFrame for rows containing "working profession"
work = df[df["Working Professional or Student"].str.contains("Working Professional", case=False)].reset_index(drop=True)

# Create a DataFrame for rows containing "student"
stud = df[df["Working Professional or Student"].str.contains("Student", case=False)].reset_index(drop=True)

In [36]:
# prompt: download newely created work , stud as csv

work.to_csv('work.csv', index=False)
stud.to_csv('stud.csv', index=False)

In [37]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import VotingClassifier
from sklearn.preprocessing import StandardScaler


# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Scale numerical features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [38]:
from sklearn.metrics import accuracy_score

# Initialize SVM models with different hyperparameters
svm_models = [
    SVC(kernel='linear', C=1),
    SVC(kernel='rbf', C=10, gamma=0.1),
    SVC(kernel='poly', degree=3, C=1)
]

# Train and evaluate each model
accuracies = []
for model in svm_models:
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    accuracy = accuracy_score(y_test, y_pred)
    accuracies.append(accuracy)
    print(f"Accuracy for {model}: {accuracy}")

print(f"All accuracies: {accuracies}")

Accuracy for SVC(C=1, kernel='linear'): 0.9302672732442423
Accuracy for SVC(C=10, gamma=0.1): 0.9319732726755757
Accuracy for SVC(C=1, kernel='poly'): 0.9283835655388115
All accuracies: [0.9302672732442423, 0.9319732726755757, 0.9283835655388115]

In [39]:
# Initialize and train a RandomForestClassifier
rf_model = RandomForestClassifier(random_state=42)
rf_model.fit(X_train, y_train)

# Make predictions using the RandomForestClassifier
rf_predictions = rf_model.predict(X_test)
rf_accuracy = accuracy_score(y_test, rf_predictions)
print(f"Random Forest Accuracy: {rf_accuracy}")


# Initialize and train an MLPClassifier
mlp_model = MLPClassifier(hidden_layer_sizes=(100, 50), max_iter=500, random_state=42)
mlp_model.fit(X_train, y_train)

# Make predictions using the MLPClassifier
mlp_predictions = mlp_model.predict(X_test)
mlp_accuracy = accuracy_score(y_test, mlp_predictions)
print(f"MLP Accuracy: {mlp_accuracy}")

Random Forest Accuracy: 0.9255757748080751
MLP Accuracy: 0.929449815183395

In [40]:
# Create a voting classifier
estimators = [
    ('svm_linear', svm_models[0]),
    ('svm_rbf', svm_models[1]),
    ('svm_poly', svm_models[2]),
    ('random_forest', rf_model),
    ('mlp', mlp_model)
]

ensemble_model = VotingClassifier(estimators=estimators, voting='hard')

# Train the ensemble model
ensemble_model.fit(X_train, y_train)

# Make predictions using the ensemble model
ensemble_predictions = ensemble_model.predict(X_test)
ensemble_accuracy = accuracy_score(y_test, ensemble_predictions)
print(f"Ensemble Accuracy: {ensemble_accuracy}")

Ensemble Accuracy: 0.9322220642593119

In [41]:
#table the accuricies
data_acc = {
    'Model': ['SVM (linear)', 'SVM (rbf)', 'SVM (poly)', 'Random Forest', 'MLP', 'Ensemble'],
    'Accuracy': accuracies + [rf_accuracy, mlp_accuracy, ensemble_accuracy]
}

accuracy_df = pd.DataFrame(data_acc)
accuracy_df

           Model  Accuracy
0   SVM (linear)  0.930267
1      SVM (rbf)  0.931973
2     SVM (poly)  0.928384
3  Random Forest  0.925576
4            MLP  0.929450
5       Ensemble  0.932222

In [42]:
import joblib

# Assuming 'ensemble_model' is your trained ensemble model
# Save the trained model to a file
joblib.dump(ensemble_model, 'ensemble_model.pkl')

# Save the scaler to a file
joblib.dump(scaler, 'scaler.pkl')

['scaler.pkl']

In [43]:
# Load the test dataset
df_test = pd.read_csv('test.csv')

# Preprocessing steps (mirroring the training data preprocessing)
mapping = {'Yes': 1, 'No': 0}
for col in ['Family History of Mental Illness', 'Have you ever had suicidal thoughts ?']:
    df_test[col] = df_test[col].map(mapping)

duration_mapping = {
    "Less than 5 hours": "Less than 5 hours",
    "5-6 hours": "5-6 hours",
    "6-7 hours": "6-7 hours",
    "7-8 hours": "7-8 hours",
    "8-9 hours": "8-9 hours",
    "9-11 hours": "9-11 hours",
    "More than 8 hours": "More than 8 hours",
    # Group other ranges into approximate categories
    "4-5 hours": "4-6 hours",
    "4-6 hours": "4-6 hours",
    "6-8 hours": "6-8 hours",
    "3-4 hours": "Less than 5 hours",
    "3-6 hours": "4-6 hours",
    "1-6 hours": "Less than 5 hours",
    "2-3 hours": "Less than 5 hours",
    # Handle invalid data
    "No": "Invalid",
    "Sleep_Duration": "Invalid",
    "Unhealthy": "Invalid",
    "Moderate": "Invalid",
    "Pune": "Invalid",
    "Indore": "Invalid",
    "Work_Study_Hours": "Invalid",
    "9-5": "Invalid",
    "10-6 hours": "Invalid",
    "than 5 hours": "Invalid",
    "49 hours": "Invalid",
    "45": "Invalid",
    "45-48 hours": "Invalid",
    "35-36 hours": "Invalid",
    "55-66 hours": "Invalid",
}
df_test['Sleep Duration clean'] = df_test['Sleep Duration'].map(duration_mapping)

map_sleep = {
    'More than 8 hours' : 9.0,
     'Less than 5 hours' : 4.0,
     '5-6 hours' : 5.5,
     '7-8 hours' : 7.5,
     'Invalid' : 0 ,
     '6-8 hours' : 7,
     '4-6 hours' : 5,
     '6-7 hours' : 6.5,
     '8-9 hours' : 8.5,
     '9-11 hours' : 10.0
}
df_test["sleep"] = df_test["Sleep Duration clean"].map(map_sleep)


valid_categories = ["Moderate", "Unhealthy", "Healthy"]
synonym_mapping = {
    "More Healthy": "Healthy",
    "Less Healthy": "Unhealthy",
    "Less than Healthy": "Unhealthy",
    "No Healthy": "Unhealthy"
}
df_test["Dietary Habits"] = df_test["Dietary Habits"].replace(synonym_mapping)
df_test = df_test[df_test["Dietary Habits"].isin(valid_categories)]


df_test["Work/Study Hours"] = df_test["Work/Study Hours"].astype(int)
df_test["Financial Stress"] = df_test["Financial Stress"].fillna(0).astype(int)
df_test["Study Satisfaction"].fillna(0, inplace=True)
df_test["Study Satisfaction"] = df_test["Study Satisfaction"].astype(int)
df_test["Job Satisfaction"].fillna(0, inplace=True)
df_test["Job Satisfaction"] = df_test["Job Satisfaction"].astype(int)
df_test["Satisfaction"] = df_test["Job Satisfaction"] + df_test["Study Satisfaction"]
df_test["Academic Pressure"].fillna(0, inplace=True)
df_test["Academic Pressure"] = df_test["Academic Pressure"].astype(int)
df_test["Work Pressure"].fillna(0, inplace=True)
df_test["Work Pressure"] = df_test["Work Pressure"].astype(int)
df_test["Pressure"] = df_test["Academic Pressure"] + df_test["Work Pressure"]
df_test["CGPA"].fillna(0, inplace=True)

map_gender = {
   "Male" : 1,
   "Female" : 0
}
df_test["Gender"] = df_test["Gender"].map(map_gender)

/var/folders/q3/bl9sh3nd1997t0vby3jw4xl80000gn/T/ipykernel_7540/3952587507.py:72: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_test["Study Satisfaction"].fillna(0, inplace=True)
/var/folders/q3/bl9sh3nd1997t0vby3jw4xl80000gn/T/ipykernel_7540/3952587507.py:74: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_test["Job Satisfaction"].fillna(0, inplace=True)
/var/folders/q3/bl9sh3nd1997t0vby3jw4xl80000gn/T/ipykernel_7540/3952587507.py:77: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_test["Academic Pressure"].fillna(0, inplace=True)
/var/folders/q3/bl9sh3nd1997t0vby3jw4xl80000gn/T/ipykernel_7540/3952587507.py:79: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_test["Work Pressure"].fillna(0, inplace=True)
/var/folders/q3/bl9sh3nd1997t0vby3jw4xl80000gn/T/ipykernel_7540/3952587507.py:82: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_test["CGPA"].fillna(0, inplace=True)

In [44]:
 #Feature selection (same as training data)
X_test_final = df_test[['Gender','Age','sleep','Work/Study Hours','Pressure','Financial Stress','Satisfaction','Family History of Mental Illness','Have you ever had suicidal thoughts ?']].fillna(0)

# Scale the test data using the same scaler used for training

X_test_final = scaler.fit_transform(X_test_final)

# Make predictions on the test set
y_pred = ensemble_model.predict(X_test_final)

In [45]:
# Create a new DataFrame with 'id' and 'predicted' columns
new_df = pd.DataFrame({'id': df_test['id'], 'predicted': y_pred})

# Assuming 'new_df' is already defined as in the provided code.
new_df.to_csv('submission.csv', index=False)